* {
    font-family: Source Code Pro, Material Design Icons;
    font-size: 14px;
}

window#waybar {
    background-color: #212529;
    color: #ADB5BD;
    opacity: 0.8;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #343A40;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 4px;
    background-color: transparent;
    color: #E9ECEF;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    box-shadow: inset 0 -3px #6C757D;
}

#workspaces button.focused {
    color: #F8F9FA;
    background-color: #495057;
    box-shadow: inset 0 -3px #6C757D;
}

#workspaces button.urgent {
    color: #212529;
    background-color: #ADB5BD;
    box-shadow: inset 0 -3px #343A40;
}

#mode {
    background-color: #F8F9FA;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 4px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: #343A40;
}

#battery.charging, #battery.plugged {
    color: #E9ECEF;
    background-color: #6C757D;
}

@keyframes blink {
    to {
        background-color: #6C757D;
        color: #E9ECEF;
    }
}

#battery.critical:not(.charging) {
    background-color: #F94144;
    color: #F8F9FA;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #343A40;
}

#memory {
    background-color: #343A40;
}

#disk {
    color: #000000;
    background-color: #343A40;
}

#backlight {
    background-color: #343A40;
}

#network {
    background-color: #343A40;
}

#network.disconnected {
    color: #03045E;
    background-color: #495057;
}

#pulseaudio {
    background-color: #343A40;
}

#pulseaudio.muted {
    background-color: #6C757D;
    color: #ADB5BD;
}

#temperature {
    background-color: #343A40;
}

#temperature.critical {
    background-color: #F3722C;
    color: #343A40;
}

#tray {
    background-color: #495057;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ADB5BD;
}

#idle_inhibitor {
    background-color: #495057;
}

#idle_inhibitor.activated {
    background-color: #6C757D;
    color: #E9ECEF;
}